.cont {
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  > span {
    font-size: 14px;
  }

  svg {
    font-size: 22px;
  }

  button {
    font-size: 13px !important;
  }

  button:first-child {
    margin-right: 10px;
  }

  button:last-child {
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .cont {
    width: 100vw;
    padding: 0 16px;
    justify-content: space-between;

    button {
      min-width: unset;
      width: 42px !important;
    }
  }
}
