.cont {
  max-width: 1250px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  font-size: 40px;
}

.reposCont {
  max-width: 1250px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}